/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }

  button {
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
  }


  body .content{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:1rem;
    padding: 2rem;
    width: 100%;
    height: 100vh;
    font-family: Poppins;
  }

  body .content .info{
    display: flex;
    flex-flow: row wrap;
  }

  body .content .name{
    display: flex;
    flex-flow: row nowrap;
    gap:1rem;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #569e3a;
  }

  body .content .division{
    margin: 1rem;
  }

  body .content .contact{
    /* display: flex;
    flex-flow: row nowrap;
    gap:1rem;
    align-items: center;
    justify-content: space-around; */
    width: 40%;
    /* border-bottom: 1px solid #569e3a; */
  }

  body .content .address{
    /* display: flex;
    flex-flow: row nowrap;
    gap:1rem;
    align-items: center;
    justify-content: space-around; */
    width: 40%;
    /* border-bottom: 1px solid #569e3a; */
  }

  body .content .additional{
    /* display: flex;
    flex-flow: row nowrap;
    gap:1rem;
    align-items: center;
    justify-content: space-around; */
    width: 40%;
    /* border-bottom: 1px solid #569e3a; */

  }

  body .content .job{
    /* display: flex;
    flex-flow: row nowrap;
    gap:1rem;
    align-items: center;
    justify-content: space-around; */
    width: 40%;

    /* border-bottom: 1px solid #569e3a; */
  }

  body .content .page-title{
    font-size: 1rem;
    font-family: Poppins;
    font-weight: bold;
  }

  body .content .label{
    font-size: 1rem;
    font-family: IBM Plex Sans;
    color:#47663B;
  }
  
  body .content .information{
    font-size: 1.5rem;
  }

  body .operation-button{
    background-color: #47663B;
    padding: .5rem;
    border-radius: 10px;
    width: 100%;
  }

  body .content .operation{
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    justify-content: flex-end;
  }