/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }

  button {
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
  }

  table {
    font-family: Poppins;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1rem;
    font-size: .75rem;
  }

  tr:nth-child(odd) {
    background-color: #569e3a;
  }

  body .content {
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 2rem;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  body .content .section-title{
    font-family: Poppins;
    font-size: 3rem;
  }

  body .content .quick-analytics{
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  body .content .quick-analytics .data{
    border: .25rem solid #47663B;
    border-radius: 10px;
    padding: 1rem;
    width: 40%;
    display: flex;
    flex-flow: row;
    transition: .2s ease-in-out;
  }

  body .content .quick-analytics .data:hover{
    background-color: #47663B;
    color: #eee;
  }

  body .content .quick-analytics .data img{
    width: 20%;
  }

  body .content .quick-analytics .data:hover img{
    display: none;
  }

  body .content .quick-analytics .data .view-message{
    display: none;
    font-family: Poppins;
    font-size: .75rem;
    font-weight: bold;
  }

  body .content .quick-analytics .data:hover .view-message{
    display: block;
  }

  body .content .quick-analytics .data div{
    flex-grow: 1;
  }

  body .content .quick-analytics .data div .main-title{
    font-family: Poppins;
    text-align: end;
    font-size: 1rem;
    font-weight: bold;
  }

  body .content .quick-analytics .data div .main-data{
    font-family: IBM Plex Serif;
    text-align: end;
    font-size: 1.5rem;
  }

  body .content .quick-analytics .data div .additional-data{
    font-family: IBM Plex Serif;
    text-align: end;
    font-size: .75rem;
    font-style: italic;
  }

  body .content .tables{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  body .content .tables .table-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }

  body .content .tables table tr td .view-button{
    background-color: #E8ECD7;
    padding: .25rem;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    transition: .15s ease-in-out;
  }

  body .content .tables table tr td .view-button:hover{
    background-color: #47663B;
    color: white;
  }

  body .content .tables .table-title{
    font-family: Poppins;
    font-size: .75rem;
    color: #47663B;
  }

  

  /* https://colorhunt.co/palette/1f452947663be8ecd7eed3b1 */