/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  button {
    border-radius: 0;
    text-align: inherit;
    background: none;
    box-shadow: none;
    padding: 0;
    cursor: pointer;
    border: none;
    color: inherit;
    font: inherit;
  }

  body .sidebar {
    height: 100vh;
    background-color:#1F4529;
    width: 25%;
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    padding: 2rem;
    gap: 1rem;
  }

  .sidebar .sidebar-header {
    justify-self: center;
    /* background-color: #47663B; */
    border-radius: 5px;
    padding: .5rem;
  }

  .sidebar .sidebar-header .sidebar-title{
    font-family: Poppins;
    text-align: center;
    color: #eee;
  }

  .sidebar .sidebar-option{
    background-color:#47663B;
    padding: 1rem;
    border-radius: 5px;
    transition: 0.3s;
    display: flex;
    flex-flow: row;
    align-items: center;
  }

  .sidebar .sidebar-option img{
    width: 1rem;
  }

  .sidebar .sidebar-option:hover{
    background-color:#eee;
    color: #47663B;
  }

  .sidebar .sidebar-option .sidebar-option-text{
    font-family: Poppins;
    text-align: center;
    flex-grow: 1;
  }
